<div class="w-full max-w-lg mx-auto" style="background-color: rgba(0, 0, 0, 0.6); color: #FFFFFF; border-radius: 0.5rem; padding: 1.5rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <form (ngSubmit)="onSubmit()" #form="ngForm" class="space-y-4">
      <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-200">
        Tu Email
      </label>
  
      <div class="relative mb-6">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
            <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
            <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
          </svg>
        </div>
        <input
          type="email"
          id="input-group-1"
          class="w-full bg-gray-800 border border-gray-600 text-gray-100 text-sm rounded-lg focus:ring-yellow-400 focus:border-yellow-400 pl-10 p-3"
          placeholder="correo@ejemplo.com"
        />
      </div>

      <label for="message" class="block mb-2 text-sm font-medium text-gray-200">
        Tu Mensaje
      </label>

      <textarea
        id="message"
        rows="4"
        class="w-full bg-gray-800 border border-gray-600 text-gray-100 text-sm rounded-lg focus:ring-yellow-400 focus:border-yellow-400 p-3"
        placeholder="Escribe tu mensaje aquí..."
      ></textarea>
  
      <button
      type="submit"
      [disabled]="isSubmitting"
      class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mt-4"
      >
      {{ isSubmitting ? 'Enviando...' : 'Enviar' }}
      </button>
    </form>
  </div>

  <div
  *ngIf="showAlert"
  class="fixed top-0 left-0 right-0 bg-green-500 text-white px-6 py-4 rounded-md shadow-lg text-center z-50"
  style="width: fit-content; margin: 20px auto;"
>
  ¡Formulario enviado con éxito!
</div>
  

