<h2 class="text-2xl font-semibold mb-10">Proyectos</h2>
<div class="gap-y-12"> 
    <div role="status" class="space-y-8 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center mb-12"> <!-- Añade margen inferior -->
        <div class="flex items-center justify-center w-full h-48 bg-gray-300 rounded sm:w-96 dark:bg-gray-700">
            <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
            </svg>
        </div>
        <div class="w-full">
            <h3 class="text-lg font-semibold text-yellow-200 py-3">Sistema de control de ventas</h3>
            <p>
                Participé en el desarrollo de un sistema automatizado de facturación para una tienda de accesorios electrónicos, optimizando su gestión durante las rebajas. El sistema muestra productos, precios con descuentos y calcula automáticamente el importe bruto, IVA y neto final, mejorando la eficiencia y reduciendo errores.
            </p>
        </div>
        <span class="sr-only">Loading...</span>
    </div>
    
    <div role="status" class="space-y-8 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center"> <!-- Se mantiene separación normal -->
        <div class="flex items-center justify-center w-full h-48 bg-gray-300 rounded sm:w-96 dark:bg-gray-700">
            <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
            </svg>
        </div>
        <div class="w-full">
            <h3 class="text-lg font-semibold text-yellow-200 py-3">UCN e-commerce</h3>
            <p>
                Participé en la implementación de un e-commerce para La Tienda UCN, con el objetivo de satisfacer las necesidades y expectativas de sus clientes.
            </p>
        </div>
        <span class="sr-only">Loading...</span>
    </div>
</div>
