<div class="w-full max-w-4xl mx-auto py-10">
    <h2 class="text-2xl font-semibold mb-10">Habilidades</h2>
    <ol class="flex flex-col sm:flex-row justify-between gap-8">
        <!-- Habilidades Técnicas -->
        <li class="flex-1">
            <div class="flex items-center">
                <div class="z-10 flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full dark:bg-blue-900">
                    <svg class="w-4 h-4 text-blue-800 dark:text-blue-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                </div>
                <div class="hidden sm:block flex-1 h-0.5 bg-gray-200 dark:bg-gray-700 ml-4"></div>
            </div>
            <div class="mt-4">
                <h3 class="text-lg font-semibold text-yellow-200 dark:text-white">Técnicas</h3>
                <ul class="mt-2 space-y-2 text-gray-500 list-disc list-inside dark:text-gray-400">
                    <li>.NET</li>
                    <li>Java</li>
                    <li>Python</li>
                    <li>C#</li>
                    <li>Angular</li>
                    <li>TypeScript</li>
                    <li>Tailwind CSS</li>
                </ul>
            </div>
        </li>
        <!-- Habilidades Blandas -->
        <li class="flex-1">
            <div class="flex items-center">
                <div class="z-10 flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full dark:bg-blue-900">
                    <svg class="w-4 h-4 text-blue-800 dark:text-blue-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                </div>
                <div class="hidden sm:block flex-1 h-0.5 bg-gray-200 dark:bg-gray-700 ml-4"></div>
            </div>
            <div class="mt-4">
                <h3 class="text-lg font-semibold text-yellow-200 dark:text-white">Blandas</h3>
                <ul class="mt-2 space-y-2 text-gray-500 list-disc list-inside dark:text-gray-400">
                    <li>Trabajo en equipo</li>
                    <li>Resolución de problemas</li>
                    <li>Toma de decisiones</li>
                    <li>Comunicación efectiva</li>
                    <li>Adaptabilidad</li>
                </ul>
            </div>
        </li>
    </ol>
</div>
