<body class="justify-between">
    <app-header></app-header>

    <main>
        <div class="flex justify-center py-10">
            <div class="relative w-24 h-24 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                <svg class="absolute w-16 h-16 text-gray-400 left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                </svg>
            </div>
        </div>

        
        <app-section-container>
            <app-home></app-home>
        </app-section-container>   
        
        <app-section-container> 
            <app-work-experience></app-work-experience>
        </app-section-container>

        <app-section-container>
            <app-skills></app-skills>
        </app-section-container>

        <app-section-container>
            <app-proyects></app-proyects>
        </app-section-container>
    </main>

    <footer>

    </footer>
</body>