<body class="justify-between">
    <app-header></app-header>

    <main>
        <div class="flex justify-center py-10">
            <div class="relative w-48 h-48 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                <img class="w-full h-full object-cover rounded-full" src="https://res.cloudinary.com/dd0ljsgtp/image/upload/v1733532296/dr8qoqd6ulsypiceauus.png" alt="Imagen">
            </div>
        </div>        

        <app-section-container id="Home">
            <app-home></app-home>
        </app-section-container>   
        
        <app-section-container id="Rol"> 
            <app-work-experience></app-work-experience>
        </app-section-container>

        <app-section-container id="Skills">
            <app-skills></app-skills>
        </app-section-container>

        <app-section-container id="Projects">
            <app-projects></app-projects>
        </app-section-container>

        <app-section-container id="Contact">
            <app-contactform></app-contactform>
        </app-section-container>
    </main>

    <footer>

    </footer>
</body>